<% provide(:title, 'Sign up') %>
 <style type="text/css">
      .new_user {
        max-width: 600px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .new_user .form-signin-heading,
      .new_user .checkbox {
        margin-bottom: 10px;
      }
      .new_user input[type="text"],
      .new_user input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }
 </style>
    <div class="container">
      <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
        <h2 align="center" class="form-signin-heading">Please sign in</h2>
        <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>
        <%= f.text_field :email, class: 'form-control', placeholder: 'Email address', required: true, autofocus: true %>
        <%= f.password_field :password, class: 'form-control', placeholder: 'Password', required: true %>
        <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirm Password' %>
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <%= f.submit "Create my account", class: "btn btn-lg btn-primary btn-block" %>
      <% end %>
    </div>
